<form>
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
        [ngClass]="{
          'border-ing': isIngreso,
          'border-egr': !isIngreso
        }"
        (change)="toggleColor($event)"
        class="agregar_tipo"
        #tipo>
        <option value="ing" selected>+</option>
        <option value="egr">-</option>
      </select>
      <input
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        name="descripcion"
        [(ngModel)]="descripcion">
      <input
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        name="valor"
        [(ngModel)]="valor">
      <button
        class="agregar_btn"
        type="button"
        (click)="agregarItem(tipo)">
        <i class="ion-ios-checkmark-outline"></i>
      </button>
    </div>
  </div>
</form>
